@import url("normalize.min.css");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Poppinse', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.55;
  background-color: #ffffff;
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

.main {
  margin-top: 60px;
}

select,
select:focus,
select:active,
option,
option:focus,
option:active {
  outline: none;
  border: none;
  cursor: pointer;
  padding-left: 5px;
}

option {
  background: #e6e4e4;
}

button, .button, input[type="submit"] {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 700;
  border: 0;
}

a.button {
  text-decoration: none;
}

.button--primary {
  background-color: #6A983C;
  color: white;
  border: 2px solid #446126;
}

.button--transparent {
  background-color: white;
  color: #151515;
  border: 2px solid #6A983C;
}

.button--difault {
  padding: 16px 48px;
}

.button--aside {
  background: #F5F5F5;
  border-radius: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}

.button--banner {
  background: none;
  border: 2px solid #92C064;
  box-sizing: border-box;
  border-radius: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
}

.button--buy {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  padding: 6.5px 12px;
  color: #FFFFFF;
  border-radius: 12px;
}

.button--s {
  padding: 12px 16px;
}

.button--xs {
  padding: 7px 12px;
  background: #FFFFFF;
  border-radius: 12px;
}

.header__top {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 525px) {
  .header__top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.header__top-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 400px) {
  .header__top-list-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.header__top-link {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #6A983C;
  text-decoration: none;
  margin-right: 15px;
}

.header__top-line {
  opacity: 0.05;
  border: 1px solid #151515;
  margin: 0;
}

.header__contact {
  color: #151515;
}

.header__hero {
  padding: 40px 0 48px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 525px) {
  .header__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 30px 0;
  }
}

@media (max-width: 800px) {
  .header__hero-logo {
    padding-right: 15px;
    width: 100%;
  }
}

.header__hero-select {
  width: 100%;
  max-width: 130px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  position: relative;
  display: inline-block;
  appearance: none;
  background: url(../img/ic-down.png) no-repeat right;
}

.header__hero-line {
  color: #A9A9A9;
}

.header__hero-input {
  width: 100%;
  max-width: 500px;
  background: #F9F9F9;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 13px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__hero-cart {
  width: 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .header__hero-cart {
    margin-left: 15px;
  }
}

@media (max-width: 525px) {
  .header__hero-cart {
    margin-top: 15px;
    margin-left: 0;
    width: 15%;
  }
}

@media (max-width: 400px) {
  .header__hero-cart {
    width: 20%;
  }
}

.header__hero-before {
  position: relative;
}

.header__hero-before:before {
  content: "4";
  position: absolute;
  font-size: 10px;
  line-height: 18px;
  color: white;
  left: -6px;
  top: 12px;
  width: 16px;
  height: 16px;
  background-color: #E6704B;
  border-radius: 50%;
  text-align: center;
}

.header__select {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__input {
  border: none;
  background: none;
  width: 50%;
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  outline: none;
  color: #A9A9A9;
}

.header__menu {
  background: #faf7f7;
}

.header__menu-list {
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 960px) {
  .header__menu-list {
    flex-wrap: wrap;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .header__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.header__menu-item {
  position: relative;
  list-style: none;
}

.header__menu-item:hover ul {
  display: block;
  transition: 1s;
}

@media (max-width: 960px) {
  .header__menu-item {
    width: 25%;
  }
}

@media (max-width: 700px) {
  .header__menu-item {
    width: 50%;
  }
}

.header__menu-arrow {
  margin-left: 5px;
}

.header__menu-link {
  text-decoration: none;
  display: block;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  padding: 16px 0;
  white-space: nowrap;
}

.header__menu-link:hover .header__menu-arrow {
  transform: rotate(180deg);
  transition: 0.8s ease-out;
}

@media (max-width: 700px) {
  .header__menu-link {
    padding: 5px 0;
  }
}

.header__menu-sublink {
  padding-left: 5px;
  text-decoration: none;
  color: #151515;
}

.header__menu-sublink:hover {
  color: #626262;
}

.header__menu-sublist {
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
  padding: 0;
  z-index: 1;
  background: #faf7f7;
}

.aside-cards__container {
  display: grid;
  grid-template-columns: 270px 1fr;
  grid-gap: 0 30px;
}

.aside__nav {
  margin-bottom: 150px;
}

.aside__nav:last-child {
  margin-bottom: 150px;
}

.aside__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
  display: inline-block;
  margin-bottom: 14px;
}

.aside__menu {
  list-style: none;
  margin-bottom: 48px;
}

.aside__item {
  margin-bottom: 12px;
}

.aside__item:last-child {
  margin-bottom: 12px;
}

.aside__link {
  font-family: OpenSans;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #6A983C;
}

.cards__banners {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 130px;
}

.cards__banners-wrap {
  background: url(../img/fone-banner.png);
  padding: 48px 181px 32px 34px;
  border-radius: 25px;
}

.cards__banners-subtitle {
  margin-top: 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
  margin-bottom: 8px;
}

.cards__banners-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #151515;
  margin-top: 0;
  margin-bottom: 94px;
}

.cards__product {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}

.cards__product-top {
  margin-bottom: 128px;
}

.cards__product-wrappimg {
  position: relative;
  padding: 0 0 77% 0;
}

.cards__product-img {
  max-width: 100%;
  height: 100%;
  border-radius: 15px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.cards__product-info {
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 16px;
  width: 30%;
}

.cards__product-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  margin-top: 16px;
  margin-bottom: 4px;
  color: #151515;
}

.cards__product-text {
  margin-top: 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 16px;
  color: #575757;
}

.cards__product-buy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}

.cards__product-price {
  display: flex;
  flex-direction: column;
}

.cards__product-price-new {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}

.cards__product-price-old {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-decoration-line: line-through;
  color: #A9A9A9;
}

.sell-card {
  position: relative;
}

.sell-card::before {
  content: "- 36 %";
  position: absolute;
  left: 30px;
  z-index: 1;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6a983c;
  align-items: center;
  padding: 0px 8px;
  background: #f4f8ec;
  border-radius: 12px;
  top: 20px;
}

.slider__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.slider__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
  margin: 0;
}

.slider__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.slider__container {
  padding: 0;
}

.slider__card {
  background: #FFFFFF;
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
  position: relative;
  border-radius: 12px;
  padding: 24px 32px 40px 32px;
  text-align: center;
}

.slider__card::after {
  content: url(../img/human.png);
  position: absolute;
  bottom: -31px;
  left: 40%;
}

.slider__card-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  margin-top: 0;
  margin-bottom: 24px;
}

.slider__card-name {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #A9A9A9;
}

.swiper-wrapper {
  padding: 33px 0 64px 0;
}

.swiper-button-next,
.swiper-button-prev {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background: #151515;
  border-radius: 0 12px 12px 0;
  fill: black !important;
  stroke: black !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-prev {
  background-image: url("../img/Layer.png") !important;
}

.swiper-button-next {
  background-image: url("../img/arrow-white-right.png") !important;
}

.posts {
  padding: 64px 0;
}

.posts__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 34px;
}

.posts__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
  margin: 0;
}

.posts__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}

.posts__wrap-left {
  background: url(../img/posts-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 24px 34px 24px 24px;
  border-radius: 15px;
}

.posts__wrap-left-category {
  background: #F4F8EC;
  border-radius: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
  padding: 0 8px;
}

.posts__wrap-left-title {
  margin-top: 228px;
  margin-bottom: 8px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #FFFFFF;
}

.posts__wrap-author {
  display: flex;
  align-items: center;
}

.posts__wrap-name {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #151515;
  margin-right: 16px;
}

.posts__wrap-data {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #151515;
}

.posts__wrap-span-white {
  color: #FFFFFF;
  margin-left: 8px;
}

.posts__wrap-center-category {
  margin-top: 24px;
  margin-bottom: 8px;
  background: #eff6dd;
  border-radius: 12px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #6A983C;
  padding: 0 8px;
  max-width: 80px;
}

.posts__wrap-center-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
  margin-top: 0;
  margin-bottom: 16px;
}

.posts__wrap-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.posts__wrap-card:last-child {
  margin-bottom: 0;
}

.posts__wrap-card-content {
  margin-right: 24px;
}

.posts__wrap-card-title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  margin-top: 9.5px;
  margin-bottom: 16px;
}

.footer {
  padding: 64px 0;
}

.footer__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 48px;
}

.footer__nav {
  margin-bottom: 0;
}

.footer__nav:last-child {
  margin-bottom: 0;
}

.footer__menu {
  margin-bottom: 0;
}

.footer__link {
  text-decoration: none;
}

.footer__product-title {
  margin-top: 0;
  margin-bottom: 16px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
}

.footer__product-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 32px;
}

.footer__product-item {
  list-style: none;
  background: #F5F5F5;
  border-radius: 12px;
  padding: 4px 10px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.footer__product-item:last-child {
  margin-right: 0px;
}

.footer__product-link {
  text-decoration: none;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #151515;
}

.footer__product__copyright {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #151515;
}

.headline {
  padding: 64px 0;
}

.headline__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 37px;
}

.headline__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #151515;
  margin: 0;
}

.headline__products {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headline__card {
  margin-right: 32px;
}

.headline__card:last-child {
  margin-right: 0;
}
/*# sourceMappingURL=style.css.map */