@import url("normalize.min.css");
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Poppinse', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.55;
  background-color: #ffffff;
}

.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

select,
select:focus,
select:active,
option,
option:focus,
option:active {
  outline: none;
  border: none;
  cursor: pointer;
  padding-left: 5px;
}

option {
  background: #e6e4e4;
}

button, .button, input[type="submit"] {
  display: inline-block;
  cursor: pointer;
  font-weight: 700;
}

a.button {
  text-decoration: none;
}

.button--primary {
  background-color: #6A983C;
  color: white;
  border: 2px solid #446126;
}

.button--transparent {
  background-color: white;
  color: #151515;
  border: 2px solid #6A983C;
}

.button--difault {
  padding: 16px 48px;
}

.button--s {
  padding: 12px 16px;
}

.button--xs {
  padding: 7px 12px;
}

.header__top {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 525px) {
  .header__top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.header__top-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media (max-width: 400px) {
  .header__top-list-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.header__top-link {
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #6A983C;
  text-decoration: none;
  margin-right: 15px;
}

.header__top-line {
  opacity: 0.05;
  border: 1px solid #151515;
  margin: 0;
}

.header__contact {
  color: #151515;
}

.header__hero {
  padding: 40px 0 48px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 525px) {
  .header__hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 30px 0;
  }
}

@media (max-width: 800px) {
  .header__hero-logo {
    padding-right: 15px;
    width: 100%;
  }
}

.header__hero-select {
  width: 100%;
  max-width: 130px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  position: relative;
  display: inline-block;
  appearance: none;
  background: url(../img/ic-down.png) no-repeat right;
}

.header__hero-line {
  color: #A9A9A9;
}

.header__hero-input {
  width: 100%;
  max-width: 500px;
  background: #F9F9F9;
  border: 1px solid #D1D1D1;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 13px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__hero-cart {
  width: 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .header__hero-cart {
    margin-left: 15px;
  }
}

@media (max-width: 525px) {
  .header__hero-cart {
    margin-top: 15px;
    margin-left: 0;
    width: 15%;
  }
}

@media (max-width: 400px) {
  .header__hero-cart {
    width: 20%;
  }
}

.header__hero-before {
  position: relative;
}

.header__hero-before:before {
  content: "4";
  position: absolute;
  font-size: 10px;
  line-height: 18px;
  color: white;
  left: -6px;
  top: 12px;
  width: 16px;
  height: 16px;
  background-color: #E6704B;
  border-radius: 50%;
  text-align: center;
}

.header__select {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__input {
  border: none;
  background: none;
  width: 50%;
  font-family: OpenSans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  outline: none;
  color: #A9A9A9;
}

.header__menu {
  background: #faf7f7;
}

.header__menu-list {
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 960px) {
  .header__menu-list {
    flex-wrap: wrap;
    text-align: center;
  }
}

@media (max-width: 400px) {
  .header__menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.header__menu-item {
  position: relative;
  list-style: none;
}

.header__menu-item:hover ul {
  display: block;
  transition: 1s;
}

@media (max-width: 960px) {
  .header__menu-item {
    width: 25%;
  }
}

@media (max-width: 700px) {
  .header__menu-item {
    width: 50%;
  }
}

.header__menu-arrow {
  margin-left: 5px;
}

.header__menu-link {
  text-decoration: none;
  display: block;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #151515;
  padding: 16px 0;
  white-space: nowrap;
}

.header__menu-link:hover .header__menu-arrow {
  transform: rotate(180deg);
  transition: 0.8s ease-out;
}

@media (max-width: 700px) {
  .header__menu-link {
    padding: 5px 0;
  }
}

.header__menu-sublink {
  padding-left: 5px;
  text-decoration: none;
  color: #151515;
}

.header__menu-sublink:hover {
  color: #626262;
}

.header__menu-sublist {
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
  padding: 0;
  z-index: 1;
  background: #faf7f7;
}
/*# sourceMappingURL=style.css.map */