button, .button, input[type="submit"] {
    @include fcc;
    display: inline-block;
    cursor: pointer;
    font-weight: 700;
    border: 0;
}

a.button {
    text-decoration: none;
}

.button {
    &--primary {
        background-color: $accent;
        color: white;
        border: 2px solid darken($color: $accent, $amount: 15%);
    }

    &--transparent {
        background-color: white;
        color: $dark;
        border: 2px solid $accent;
    }

    &--difault {
        padding: 16px 48px;
    }

    &--aside {
        background: #F5F5F5;
        border-radius: 12px;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 22px;
        color: $dark;
    }

    &--banner {
        background: none;
        border: 2px solid #92C064;
        box-sizing: border-box;
        border-radius: 12px;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 22px;
        color: $dark;
    }

    &--s {
        padding: 12px 16px;
    }

    &--buy{
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 22px;
        color: #FFFFFF;
        border-radius: 12px;
        border: 2px solid #46760A;
        @media (max-width: 500px) {
            padding: 6px 10px;
            font-weight: 400;
        }
    }

    &--xs {
        padding: 7px 12px;
        background: #FFFFFF;
        border-radius: 12px;
    }

    &--compare {
        background: #FFFFFF;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 22px;
        color: $dark;
        @include dfcc;
    }
    &--article-tags {
        background: #FFFFFF;
        border-radius: 12px;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 22px;
        color: $dark;
    }

    &--article__form {
        border-radius: 12px;
        margin-top: 32px;
        margin-bottom: 48px;
        border: 0;
    }

    &--checkout__billing {
        border-radius: 12px;
        border: 0;
    }

    &--apply {
        position: absolute;
        background: none;
        right: 10px;
        top: 10px;
    }
}