.header {
    &__top {
        padding: 16px 0;
        @include dfcc;

        @media (max-width: 525px) {
            @include dffc;
        }

        &-list {
            @include dfcc;
            @include ls;
            &-left {
                @media (max-width: 400px) {
                    @include dffc;
                }
            }
        }

        &-link {
            font-family: OpenSans;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            color: $accent;
            @include td;
            margin-right: 15px;
        }

        &-line {
            opacity: 0.05;
            border: 1px solid #151515;
            margin: 0;
        }
    }
    &__contact {
        color: $dark;
    }

    &__hero {
        padding: 40px 0 48px 0;
        @include dfcc;

        @media (max-width: 525px) {
            @include dffc;
            padding: 30px 0 30px 0;
        }

        &-logo {
            @media (max-width: 800px) {
               padding-right: 15px;
               width: 100%;
            }
        }

        &-select {
            width: 100%;
            max-width: 130px;
            font-family: Poppins;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 22px;
            color: $dark;
            position: relative;
            display: inline-block;
            appearance: none;
            background: url(../img/ic-down.png) no-repeat right;
        }

        &-line {
            color: #A9A9A9;
        }

        &-input {
            width: 100%;
            max-width: 500px;
            background: #F9F9F9;
            border: 1px solid #D1D1D1;
            box-sizing: border-box;
            border-radius: 12px;
            padding: 13px 16px;
            @include dfcc;
        }

        &-cart {
            width: 7%;
            @include dfcc;
            @media (max-width: 800px) {
               margin-left: 15px;
            }
            @media (max-width: 525px) {
                margin-top: 15px;
                margin-left: 0;
                width: 15%;
            }
            @media (max-width: 400px) {
                width: 20%;
            }
        }

        &-before {
            position: relative;

            &:before {
                content: "4";
                position: absolute;
                font-size: 10px;
                line-height: 18px;
                color: white;
                left: -6px;
                top: 12px;
                padding: 2px 7px;
                background-color: $secondary-accent;
                border-radius: 50%;
                text-align: center;
            }
        }

    }

    &__select {
        @include dfcc;
        
    }
    &__input {
        border: none;
        background: none;
        width: 50%;
        font-family: OpenSans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        outline:none;
        color: #A9A9A9;
    }

    &__menu {
        background: #faf7f7;
        &-list {
            padding: 0 5px;
            display: flex;
            justify-content: space-between;
            @media (max-width: 960px) {
                flex-wrap: wrap;
                text-align: center;
            }
            @media (max-width: 700px) {
                display: flex;
                justify-content: center;
            }
            @media (max-width: 400px) {
                @include dffc;
            }
        }
        &-item {
            position: relative;
            list-style: none;
            margin-right: 5px;

            &:hover ul {
                display: block;
                transition: 1s;
            }

            @media (max-width: 960px) {
                width: 25%;
            }

            @media (max-width: 700px) {
                width: 50%;
            }
        }
        &-arrow {
            margin-left: 5px;
        }
        &-link {
            text-decoration: none;
            display: block;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            color: $dark;
            padding: 16px 0;
            white-space: nowrap;

            &:hover .header__menu-arrow {
                transform: rotate(180deg);
                transition: 0.8s ease-out;
            }

            @media (max-width: 700px) {
                padding: 5px 0;
            }
        }
        &-sublink {
            padding-left: 5px;
            text-decoration: none;
            color: $dark;

            &:hover {
                color: lighten($dark, 30%);
            }
        }
        &-sublist {
            position: absolute;
            left: 0;
            top: 100%;
            display: none;
            padding: 0;
            z-index: 1;
            background: #faf7f7;
        }
    }

    &__bottom {
        padding: 16px 0;
    }
}