@mixin dfcc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin fcc {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin dffc {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin ls {
    list-style: none;
    padding: 0;
    margin: 0;
}

@mixin td {
    text-decoration: none;
}