.posts {
    padding: 64px 0;
    &__top {
        @include dfcc;
        margin-bottom: 34px;
    }

    &__title {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 27px;
        color: $dark;
        margin: 0;
    }

    &__many {
        text-decoration: none;
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 22px;
        color: $dark;
        @include dfcc;
    }

    &__wrap {
        // @include dfcc;
        // align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media (max-width: 1114px) {
            align-items: center;
        }

        @media (max-width: 850px) {
            flex-direction: column;
        }
        &-blog {
            @media (max-width: 1186px) {
                width: 45%;
            }
            @media (max-width: 649px) {
                width: 100%;
            }
        }
        &-left {
            background: url(../img/posts-img.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding: 24px 34px 24px 24px;
            border-radius: 15px;
            @media (max-width: 1114px) {
                width: 100%;
                margin-bottom: 30px;
            }
            &:hover {
                transform: scale(1.01);
            }
            &-category {
                background: #F4F8EC;
                border-radius: 12px;
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                color: $accent;
                padding: 0 8px;
            }

            &-title {
                margin-top: 228px;
                margin-bottom: 8px;
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 22px;
                line-height: 33px;
                color: #FFFFFF;
            }
        }

        &-author {
            display: flex;
            align-items: center;
        }
        &-name {
            font-family: OpenSans;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            color: $dark;
            margin-right: 16px;
        }
        &-data {
            font-family: OpenSans;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            color: $dark;
        }
        &-span-white {
            color: #FFFFFF;
            margin-left: 8px;
        }

        &-center {
            // @media (max-width: 1114px) {
            //     width: 35%;
            // }
            @media (max-width: 850px) {
                width: 100%;
                margin-bottom: 20px;
                
            }
            
            &:hover {
                transform: scale(1.01);
            }
            &-link {
                @media (max-width: 850px) {
                    @include dfcc;
                }
                @media (max-width: 490px) {
                    @include dffc;
                    text-align: center;
                }
            }
            &-content {
                @media (max-width: 490px) {
                    @include dffc;
                }
            }
            &-img {
                border-radius: 12px;
                max-width: 269px;
                @media (max-width: 850px) {
                    margin-right: 30px;
                }
                @media (max-width: 490px) {
                    margin-right: 0;
                    width: 100%;
                }
            }
            &-category {
                margin-top: 24px;
                margin-bottom: 8px;
                background: #eff6dd;
                border-radius: 12px;
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                color: $accent;
                padding: 0 8px;
                max-width: 80px;
            }
            &-title {
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 27px;
                color: $dark;
                margin-top: 0;
                margin-bottom: 16px;
            }
            &-title br {
                @media (max-width: 850px) {
                   display: none;
                }
            }
        }

        &-right {
            width: 31%;
            @media (max-width: 1114px) {
                width: 45%;
            }
            @media (max-width: 850px) {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                justify-content: space-between;
                margin-top: 20px;
            }
            
        }

        &-card {
            @include dfcc;
            align-items: flex-start;
            margin-bottom: 32px;
            @media (max-width: 690px) {
                width: 100%;
                justify-content: center;
            }
            
            &:last-child {
                margin-bottom: 0;
                @media (max-width: 850px) {
                    width: 100%;
                    justify-content: center;
                }
            }
            &-content {
                margin-right: 24px;
                @media (max-width: 363px) {
                    margin-right: 7px;
                }
               
            }

            &-none{
                @media (max-width: 690px) {
                    margin-right: 70px;
                }
                @media (max-width: 363px) {
                    margin-right: 53px;
                }
            }

            &-title {
                font-family: Poppins;
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 22px;
                color: $dark;
                margin-top: 0;
                margin-bottom: 16px;
            }
            &-title br {
                @media (max-width: 363px) {
                    display: none;
                }
            }
            &:hover {
                transform: scale(1.01);
            }
        }
    }
}