.sort {
    &__title {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        color: $dark;
        margin: 0;
        @media (max-width: 364px) {
            font-size: 24px;
            line-height: 32px;
        }
        @media (max-width: 650px) {
            margin-bottom: 20px;
        }
    }
    &__top{
        @include dfcc;
        padding: 8px 0;
        @media (max-width: 650px) {
            @include dffc;
        }
        &-list {
            @include dfcc;
            width: 278px;
        }
        &-item {
            list-style: none;
        }
        &-link {
            text-decoration: none;
            font-family: OpenSans;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            color: #A9A9A9;
            @include dfcc;
            &-active {
                color: $dark;
            }
        }
        &-link img {
            margin-right: 4px;
        }
        &-link span {
            margin-right: 4px;
        }
    }
    &__hero {
        padding: 16px 0;
        width: 100%;
        max-width: 821px;
        @include dfcc;
        @media (max-width: 760px) {
            flex-wrap: wrap;
            justify-content: center;
        }
        &-check {
            background: #F9F9F9;
            border: 1px solid #D1D1D1;
            box-sizing: border-box;
            border-radius: 12px;
            padding: 9px 16px;
            height: 44px;
            @include dfcc;
            @media (max-width: 760px) {
                width: 45%;
                justify-content: center;
            }
            @media (max-width: 500px) {
                width: 70%;
            }
            &:first-child {
                @media (max-width: 760px) {
                    margin-right: 10px;
                    margin-bottom: 10px;
                }
                @media (max-width: 500px) {
                    margin-right: 0;
                }
            }
            &:nth-child(2) {
                @media (max-width: 760px) {
                    margin-bottom: 10px;
                }
            }
            &:nth-child(3) {
                @media (max-width: 760px) {
                    margin-right: 10px;
                }
                @media (max-width: 500px) {
                    margin-right: 0;
                    margin-bottom: 10px;
                }
            }
            
            &-box1 {
                max-width: 578px;
                width: 100%;
                margin-bottom: 16px;
            }
            &-box2 {
                max-width: 433px;
                width: 100%;
                margin-bottom: 32px;
            }
            &-span {
                border: 1px solid #EBEBEB;
                box-sizing: border-box;
                border-radius: 12px;
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                color: $dark;
                padding: 0 8px;
            }
            &-line {
                color: #D1D1D1;
                margin: 0 24px;
                @media (max-width: 760px) {
                    margin: 0 12px;
                }
            }
            &-select {
                background: #F9F9F9;
                font-family: Poppins;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 18px;
                color: $dark;
            }
        }
        &-label {
            font-family: OpenSans;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            color: $dark;
            margin: 0 8px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}